@import "tailwindcss";

@theme {
  --color-custom-darkblue: #0c2461;
  --color-custom-red: #EA2027; /*red pigment / dutch pallete  */
  --color-custom-orange: #fa983a;
  --color-custom-white: #f5f6fa;
  --color-custom-grey: #7f8fa6;
}

@font-face {
  font-family: 'Hedvig Serif';
  src: url('fonts/Hedvig_Letters_Serif/HedvigLettersSerif-Regular-VariableFont_opsz.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap; /* Verbessert das Laden auf langsamen Verbindungen */
}

@font-face {
  font-family: 'Stack Sans Headline';
  src: url('fonts/Stack_Sans_Headline/StackSansHeadline-VariableFont_wght.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap; /* Verbessert das Laden auf langsamen Verbindungen */
}

@font-face {
  font-family: 'Merriweather';
  src: url('fonts/Merriweather/Merriweather-VariableFont_opsz,wdth,wght.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap; /* Verbessert das Laden auf langsamen Verbindungen */
}

:root {
  font-family: 'Hedvig Serif' ,Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Merriweather';
}

.logo-headline {
 font-family: 'Hedvig Serif', sans-serif;
}

.cta-button {
    font-family: 'Stack Sans Headline', 'sans-serif';
}

h1 {
  font-size: 1.5rem;
  line-height: 1;
}
h2 {
  font-size: 1.25em;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

h1, h2, button {
  font-family: 'Stack Sans Headline', 'sans-serif';
}



/* Navbar */
.burgermenu {
  width: 36px;
  height: 30px;
  position: relative;
  text-align: right;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.burgermenu > span {
  display: block;
  position: absolute;
 
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
    background-color: var(--color-custom-grey);
}

.burgermenu > span:nth-child(1) {
  top: 0px;
  width: 60%;
  margin-left: 40%;
}

.burgermenu > span:nth-child(2) {
  top: 10px;
    width: 80%;
  margin-left: 20%;
}

.burgermenu > span:nth-child(3) {
  top: 20px;
}

.top.open {
  top: 12px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.middle.open {
  opacity: 0;
  left: -40px;
}

.bottom.open {
  top: 12px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
